{% set active_page = "index" %}
{% extends "template.html" %}
{% block content %}

<!--========================== INDEX ===============================-->

<div class="clr"></div>
     
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize2">
    

<h2 style="text-align:center;">Artigos</h2>

<table class="artigos">
     <!-- <caption>título</caption> -->


    
<thead> 
    <tr> 
      <th id="coluna1"> Número </th> 
      <th id="coluna2"> ID </th>
        <th id="coluna3"> Nome do artigo</th> 
        <th id="coluna4"> Autores </th>
        <th id="coluna6"> Data de submissão </th> 
        <th id="coluna7"> Visualizar </th> 
    </tr> 
</thead> 

<tbody>
    <tr > 
         <td class="linha1">  dados </td>
         <td class="linha1">   dados </td> 
         <td class="linha1">  dados </td> 
         <td class="linha1">  dados</td> 
         <td class="linha1"> dados </td> 
         <td class="linha1"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
   

    </tr>
    <tr> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 


    </tr> 
    <tr > 
         <td class="linha1">  dados </td>
         <td class="linha1">   dados </td> 
         <td class="linha1">  dados </td> 
         <td class="linha1">  dados</td> 
         <td class="linha1"> dados </td> 
        <td class="linha1"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
     
    </tr>


 <tr> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
   
      
    </tr> 

     <tr > 
         <td class="linha1">  dados </td>
         <td class="linha1">   dados </td> 
         <td class="linha1">  dados </td> 
         <td class="linha1">  dados</td> 
         <td class="linha1"> dados </td> 
        <td class="linha1"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
  

    </tr>


<tr> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
     
   
    </tr> 


     <tr > 
         <td class="linha1">  dados </td>
         <td class="linha1">   dados </td> 
         <td class="linha1">  dados </td> 
         <td class="linha1">  dados</td> 
         <td class="linha1"> dados </td> 
         <td class="linha1"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
      
        
    </tr>
    <tr> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
   
 
    </tr> 
    <tr > 
         <td class="linha1">  dados </td>
         <td class="linha1">   dados </td> 
         <td class="linha1">  dados </td> 
         <td class="linha1">  dados</td> 
         <td class="linha1"> dados </td> 
         <td class="linha1"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 

 
    </tr>


 <tr> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
        <td class="linha2"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
  
       
    </tr> 

     <tr > 
         <td class="linha1">  dados </td>
         <td class="linha1">   dados </td> 
         <td class="linha1">  dados </td> 
         <td class="linha1">  dados</td> 
         <td class="linha1"> dados </td> 
       <td class="linha1"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
 
    </tr>


<tr> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
 
   
    </tr> 


  <tr > 
         <td class="linha1">  dados </td>
         <td class="linha1">   dados </td> 
         <td class="linha1">  dados </td> 
         <td class="linha1">  dados</td> 
         <td class="linha1"> dados </td> 
         <td class="linha1"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
    

    </tr>


<tr> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
  
    
    </tr> 
</tbody>

<tr > 
         <td class="linha1">  dados </td>
         <td class="linha1">   dados </td> 
         <td class="linha1">  dados </td> 
         <td class="linha1">  dados</td> 
         <td class="linha1"> dados </td> 
         <td class="linha1"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
   
    </tr>

    <tr> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
         <td class="linha2"> texto </td> 
        <td class="linha2"><a href="#"><img class="iconpdf" src="../static/images/file_pdf.png"></a></li></td> 
    
    
    </tr> 
</tbody>

<!-- <tfoot> 
    <tr> 
         <th> final </th> 
         <th> final </th> 
         <th> final </th>
         <th> final</th> 
    </tr> 
</tfoot> 
 -->

</table>

</div>
</div>
       

          <div class="clr"></div>

      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col_mapa">

 <h2><span>LABIO</span></h2>
        <p>Laboratório de Bioinformática, Modelagem e Simulação de Biossistemas</p>
        Faculdade de Informática – PUCRS
        <p class="contact_info"> <span>Endereço:</span> Bairro Partenon - Porto Alegre - RS - Brasil<br />
          <span>CEP:</span>90619-900<br />
<span>Telefone:</span>+55-51-3320-3611<br />
          <span>FAX:</span> +55-51-3320-3621<br />
      </div>

<div class="col_mapa">

 <h2><span>Navegação</span></h2>
      
 <div id="mapa_site">
                  <ul class="list" id="um">
                    <li><a href="{{ url_for('index')}}">Home</a></li>
                    <li><a href="{{ url_for('pesquisa')}}">Pesquisa</a></li>
                    <li><a href="{{ url_for('artigos')}}">Artigos</a></li>
                    <li><a href="{{ url_for('equipe')}}">Equipe</a></li>
                    <li><a href="{{ url_for('fale_conosco')}}">Fale conosco</a></li>
                  </ul>
          
                <h3>Links</h3>
                  <ul class="list" id="dois">
                    <li><a class="col_footer2" href="http://www.labio.org/" title="link Laboratório de Bioinformática, Modelagem e Simulação de Biossistemas - LABIO">Laboratório de Bioinformática, Modelagem e Simulação de Biossistemas - LABIO</a></li></br>
                    <li><a class="col_footer2" href="http://www3.pucrs.br/portal/page/portal/facinppg/ppgcc/" title="link Programa de Pós-Graduação em Ciência da Computação - PPGCC">Programa de Pós-Graduação em Ciência da Computação - PPGCC</a></li></br>
                    <li><a class="col_footer2" href="http://www.pucrs.br/portal/" title="Pontifícia Universidade Católica do Rio Grande do Sul - PUCRS ">Pontifícia Universidade Católica do Rio Grande do Sul - PUCRS</a></li></br>
                  </ul>
          
        </div><!--Fim div footer_left-->
        </div><!-- Fim div mapa do site -->

</div>

      <div class="clr"></div>
    </div>
  </div>
{% endblock %}
        