{% set active_page = "pesquisa" %}
{% extends "template.html" %}
{% block content %}
      <div class="clr"></div>
     
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content" style="background-color: transparent;">
    <div class="content_resize2" style="background-color: transparent;">

    <article class="pesquisa">


<div class="titulo_jmol">Crystal structure and function of the isoniazid target of Mycobacterium tuberculosis.</div>

<div class="codigo_pdb">1ENY</div>

      <div id="citacao_primaria">
          <div class="box-label">
                     Citação Primária
          </div>  
          <div class="content_molecula">

<h1 class="nome_citacao">Crystal structure and function of the isoniazid target of Mycobacterium tuberculosis.</h1>


          </div>
     </div>
 <div id="content_img">
           <div class="box-label" id="img">
                    Biological Assembly 1 
          </div>  
          <div class="content_molecula">

<img id="molecula_citacao" src="../static/images/1eny_bio_r_500.jpg">



<div class="opcoes_molecula">
  <a href="#" class="opcoes_molecula"><img class="icon1" src="../static/images/3d_modelling.jpg">Visualizar em 3D</a><a class="opcoes_molecula" href="#abrir_modal"><img class="icon1"  src="../static/images/search.jpg">Aumentar</a>
</div>

     </div>
<div id="abrirModal" class="modalDialog">
              <div><a class="close" title="Fechar" href="#close">X</a>
                <fieldset id="modal_login">   
                    teste 
                </fieldset><!--Fim do fieldset login-->

                          
            </div><!--Fim div close-->
      </div><!--Fim div abrir modal-->


</div>

    </article>

 

<article class="pesquisa2">
      <div id="Tabela_de_informacoes">
          <div class="box-label" id="dois">
                    Tabela de Informações
          </div>  
          <div class="content_molecula">



</div>

    </article>





</div>
</div>
       
          <div class="clr"></div>

      <div class="clr"></div>
    </div>
  </div>
{% endblock %}
