{% set active_page = "pesquisa" %}
{% extends "template.html" %}
{% block content %}
  <div class="clr"></div>
  <div class="clr"></div>
  <div class="content" style="background-color: transparent;">
    <div class="content_resize2" style="background-color: transparent;">
      <article class="pesquisa">
          <div id="citacao_primaria">
              {% for st in strut %}
                <div class="box-label">Citação Primária</div>  
                <div class="content_molecula">
                  <h1 class="nome_citacao">{{st.pdbTitle}}</h1>
                  <ul class="list" id="tres">
                    {% for item in originator %}
                      <li><p class="p_citacao">{{item.authors.decode('utf-8').replace(';','; ')}}</p></a></li>
                      <li><span class="nome_citacao">Journal:</span><p class="p_citacao">({{item.publication_year}}) {{item.journal}}</p></li>
                      <li><span class="nome_citacao">PubMed: </span><p class="p_citacao">{{item.pubmed_id}}</p></li>
                      <li><span class="nome_citacao">PubMed Abstract:</span><p class="p_citacao">({{item.publication_year}}) {{item.journal}}</p></li>
                      <li><span class="nome_citacao">PubMed Abstract:</span></li>
                      <li><p class="p_citacao">{{item.content}}</p></li>
                    {% endfor %}
                  </ul>
                <div id="content_img">
                  <div class="box-label" id="img">Estrutura</div>  
                  <div class="content_molecula"><img id="molecula_citacao" src="http://www.rcsb.org/pdb/images/{{st.pdbID}}_asr_r_500.jpg">
                    <div class="opcoes_molecula">
                      <a href="#" class="opcoes_molecula"><img class="icon1" src="../static/images/3d_modelling.jpg">Visualizar em 3D</a><a class="opcoes_molecula" href="#abrirModal"><img class="icon1"  src="../static/images/search.jpg">Aumentar</a>
                    </div>
                  </div>
                </div>
                </div>
              {% endfor %}
            </div>
      </article>
      {% for st in strut %}
      <div id="abrirModal" class="modalDialog">
        <div><a class="close" title="Fechar" href="#close">X</a>
          <fieldset id="modal_login"><img id="molecula_maior" src="http://www.rcsb.org/pdb/images/{{st.pdbID}}_asr_r_500.jpg"> </fieldset><!--Fim do fieldset login-->
        </div><!--Fim div close-->
      </div><!--Fim div abrir modal-->
      {% endfor %}

      <article class="pesquisa2">
        <div id="Tabela_de_informacoes">
          <div class="box-label" id="dois">Tabela de Informações</div>  
          <div class="content_molecula">
<h2 style="margin-left:10px;">Related Articles</h2>
<table class="artigos">
<thead> 
    <tr> 
      <th id="coluna1"> Rank </th> 
      <th id="coluna2"> ID </th>
        <th id="coluna3"> Nome do artigo</th> 
        <th id="coluna4"> Autores </th>
        <th id="coluna6"> Data de submissão </th> 
        <th id="coluna7"> Visualizar </th> 
    </tr> 
</thead> 
<tbody>
    {% for item in articles %}
    <tr > 
         <td class="linha{{ loop.cycle('1', '2') }}">{{item.rank}}</td>
         <td class="linha{{ loop.cycle('1', '2') }}">{{item.pubmed_id}}</td>
         <td class="linha{{ loop.cycle('1', '2') }}">{% print item.title.decode('utf-8') %}</td> 
         <td class="linha{{ loop.cycle('1', '2') }}">{{item.authors.decode('utf-8').replace(';','<br>')|safe}}</td> 
         <td class="linha{{ loop.cycle('1', '2') }}">{{item.publication_date|datetime}}</td> 
         <td class="linha{{ loop.cycle('1', '2') }}"><a href="{{item.pubmed_url}}" target="_blank"><img src="../static/images/file_pdf.png"></a></li></td> 
    </tr>
    {% endfor %}
</tbody>
</table>

<h2 style="margin-left:10px;">Gene Ontology Terms</h2>
<table class="artigos">
<thead> 
    <tr> 
      <th id="coluna1"> Ontology </th> 
      <th id="coluna2"> Term ID </th>
      <th id="coluna2"> Term </th>
        <th id="coluna3"> Definition</th> 
    </tr> 
</thead> 
<tbody>
    {% for item in goterms %}
    <tr > 
         <td class="linha{{ loop.cycle('1', '2') }}">{{item.ont}}</td>
         <td class="linha{{ loop.cycle('1', '2') }}">{{item.term_id}}</td>
         <td class="linha{{ loop.cycle('1', '2') }}">{{item.term}}</td>
         <td class="linha{{ loop.cycle('1', '2') }}">{{item.definition|safe}}</td> 
    </tr>
    {% endfor %}
</tbody>
</table>
          </div>
      </article>
    </div>
  </div>
  <div class="clr"></div>
  <div class="clr"></div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="col_mapa">

 <h2><span>LABIO</span></h2>
        <p>Laboratório de Bioinformática, Modelagem e Simulação de Biossistemas</p>
        Faculdade de Informática – PUCRS
        <p class="contact_info"> <span>Endereço:</span> Bairro Partenon - Porto Alegre - RS - Brasil<br />
          <span>CEP:</span>90619-900<br />
<span>Telefone:</span>+55-51-3320-3611<br />
          <span>FAX:</span> +55-51-3320-3621<br />
      </div>

<div class="col_mapa">

 <h2><span>Navegação</span></h2>
      
 <div id="mapa_site">
                  <ul class="list" id="um">
                    <li><a href="{{ url_for('index')}}">Home</a></li>
                    <li><a href="{{ url_for('pesquisa')}}">Pesquisa</a></li>
                    <li><a href="{{ url_for('artigos')}}">Artigos</a></li>
                    <li><a href="{{ url_for('equipe')}}">Equipe</a></li>
                    <li><a href="{{ url_for('fale_conosco')}}">Fale conosco</a></li>
                  </ul>
          
                <h3>Links</h3>
                  <ul class="list" id="dois">
                    <li><a class="col_footer2" href="http://www.labio.org/" title="link Laboratório de Bioinformática, Modelagem e Simulação de Biossistemas - LABIO">Laboratório de Bioinformática, Modelagem e Simulação de Biossistemas - LABIO</a></li></br>
                    <li><a class="col_footer2" href="http://www3.pucrs.br/portal/page/portal/facinppg/ppgcc/" title="link Programa de Pós-Graduação em Ciência da Computação - PPGCC">Programa de Pós-Graduação em Ciência da Computação - PPGCC</a></li></br>
                    <li><a class="col_footer2" href="http://www.pucrs.br/portal/" title="Pontifícia Universidade Católica do Rio Grande do Sul - PUCRS ">Pontifícia Universidade Católica do Rio Grande do Sul - PUCRS</a></li></br>
                  </ul>
          
        </div><!--Fim div footer_left-->
        </div><!-- Fim div mapa do site -->

</div>


      <div class="clr"></div>
    </div>
  </div>  
{% endblock %}
