[strings]
csvDelimiter = /
sqlSelectStructures = select pdbID, pdbTitle from pdb_candidate_list where id in (SELECT r1.id FROM pdb_candidate_list AS r1 JOIN (SELECT CEIL(RAND() * (SELECT MAX(id) FROM pdb_candidate_list)) AS id) AS r2 WHERE r1.id > r2.id) LIMIT 5
sqlSearchStructures = select * from pdb_candidate_list order by pdbReleaseDate DESC
sqlSelectArticles = select * from pubmed_result_set order by -rank desc
sqlGetStructure = select * from pdb_candidate_list where pdbID = %s
sqlGetRelatedArticlesOriginator = select r.pdb_id, r.rel_type, rs.* from pdb_article_rel r inner join pubmed_result_set rs on r.pubmed_id = rs.pubmed_id where r.rel_type = 'Originator' and r.pdb_id = %s
sqlGetRelatedArticles = select r.pdb_id, r.rel_type, rs.* from pdb_article_rel r inner join pubmed_result_set rs on r.pubmed_id = rs.pubmed_id where r.rel_type <> 'Originator' and  r.pdb_id = %s order by r.rel_type, -rs.rank desc limit 10
sqlGetLigands = select * from pdb_ligand where pdb_id = %s
sqlGetWords = select * from discriminative_words order by rank
sqlGetGoTerms = select * from (select distinct term_id, term, definition, case ontology when 'B' then 'Biological Process' when 'C' then 'Cellular Component' when 'F' then 'Mollecular Function' end as ont from dbInha.pdb_go_terms where pdb_id = %s) x order by ont, term

[database]
dbType = MySQL
MySQLServer = localhost
MySQLUser= root
MySQLPassword = labio602
MySQLDB = dbInha
dbConnectionString = data/energydb.db
sqlMetadataTable = sqlite_master